/* Site footer */
.site-footer {
  padding: $grid-gutters 0;
  border-top: 1px solid $gray-light;
}

.footer-heading {
  margin-bottom: calc($grid-gutters / 2);
  font-size: 18px;
}

.contact-list,
.social-media-list {
  margin-left: 0;
  list-style: none;
}

.footer-col-wrapper {
  margin-left: calc(-$grid-gutters / 2);
  font-size: 15px;
  color: $gray-base;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.footer-col {
  margin-bottom: calc($grid-gutters / 2);
  padding-left: calc($grid-gutters / 2);
  float: left;
}

.footer-col-1 {
  width: calc(35% - ($grid-gutters / 2));
}

.footer-col-2 {
  width: calc(20% - ($grid-gutters / 2));
}

.footer-col-3 {
  width: calc(45% - ($grid-gutters / 2));
}

@include respond-to("small") {
  .footer-col-1,
  .footer-col-2 {
    width: calc(50% - ($grid-gutters / 2));
  }
  .footer-col-3 {
    width: calc(100% - ($grid-gutters / 2));
  }
}

@include respond-to("medium") {
  .footer-col {
    width: calc(100% - ($grid-gutters / 2));
    float: none;
  }
}
