.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $grid-gutters;
  }
}

.post-meta {
  font-size: $font-size-small;
  color: $gray-base;
}

.post-link {
  display: block;
  font-size: 24px;
}

/* Posts */
.post-header {
  margin-bottom: $grid-gutters;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  @include respond-to("medium") {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $grid-gutters;
  h2 {
    font-size: 32px;
    @include respond-to("medium") {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 26px;
    @include respond-to("medium") {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 20px;
    @include respond-to("medium") {
      font-size: 18px;
    }
  }
}
